.Addback{
    background-color: #D9D9D9;
    position: absolute;
    width: 80%;
    height: 75%;
    left: 10%;
}
.Assetbut{
    width: 15%;
    height: 80%;
    
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
    margin-top: 12%
}
.Themebut{
    width: 15%;
    height: 80%;
    
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
    margin-top: 2%
}


.Portfoliobut{
    width: 15%;
    height: 80%;
    
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
    margin-top: 2%;

}
.btnss{
    margin-left:80%;
    margin-top:20%;
}
.nextbs{
    margin-left:2%;
}