.select9 {
    padding-right: 20%;
}

.pill {







    height: 35px;



    width: 50%;



    border: 1px solid black;



    margin-left: 8%;



    border-top-left-radius: 50px;



    border-bottom-left-radius: 50px;



    border-top-right-radius: 50px;



    border-bottom-right-radius: 50px;



    background-color: rgb(209, 206, 206);







}



.pill2 {



    height: 35px;



    width: 50%;



    border: 1px solid black;



    border-top-left-radius: 50px;



    border-bottom-left-radius: 50px;



    border-top-right-radius: 50px;



    border-bottom-right-radius: 50px;



    margin-left: 16.5%;



    background-color: rgb(209, 206, 206);



}



.pc {



    margin-top: 2%;






}



.lc {



    margin-top: 1%;



}



.selections {



    margin-left: 17%;



    width: 49%;



    border-top-left-radius: 50px;



    border-bottom-left-radius: 50px;



    border-top-right-radius: 50px;



    border-bottom-right-radius: 50px;



}



.text2 {



    margin-top: 3%;



}



.selections2 {



    margin-left: 16%;



    width: 49%;



    border-top-left-radius: 50px;



    border-bottom-left-radius: 50px;



    border-top-right-radius: 50px;



    border-bottom-right-radius: 50px;



}



.bench {



    margin-left: 15%;



}



.rc {



    margin-top: 14%;



}



.investment {



    margin-top: 4%;



}



.ipill {



    height: 35px;



    width: 50%;



    border: 1px solid black;



    margin-left: 3.5%;



    border-top-left-radius: 50px;



    border-bottom-left-radius: 50px;



    border-top-right-radius: 50px;



    border-bottom-right-radius: 50px;



    background-color: rgb(209, 206, 206);







}



.selections3 {



    margin-left: 5%;



    width: 49%;



    border-top-left-radius: 50px;



    border-bottom-left-radius: 50px;



    border-top-right-radius: 50px;



    border-bottom-right-radius: 50px;



}



.backlogo {



    width: 120%;



    height: 80%;



    margin-left: -10%;



}



.backbut {



    width: 10%;



    height: 80%;



    margin-left: 1.5%;



    border-top-left-radius: 20%;



    border-bottom-left-radius: 20%;



    border-top-right-radius: 20%;



    border-bottom-right-radius: 20%;



    margin-top: 15%
}



.btns {



    margin-top: 34%;



    margin-left: 50%;



}



.nextb {



    margin-left: 5%;



    width: 30%;



    height: 30%;



}



.cancelb {



    margin-left: 5%;



    width: 30%;



    height: 30%;



}